<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
  		<typeAlias alias="mymemberDto" type="com.test.mv.dto.MyMemberDto"/>
	</typeAliases>
  <mappers>
    <mapper resource="/mybatis/mymember-mapper.xml"/>
  </mappers>
</configuration>